@font-face{
    font-family: "Norse-Bold";
    src: url();
}

* {
    margin: 0;
    
}

body {
    display: flex;
    flex-direction: row;
}

#picture {
    width: 33vw;
    height: 100vh;
    margin: 0;
}

#banner {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.55;
    position: absolute;
    top: 160px;
    height: 15vh;
    width: 33vw;
}

#logo {
 padding: 4px;

}

span {
    color: white;
}

.text {
    height: 33vh;
    background-color: #f8f8f8;
}

.form {
    height: 33vh;
    background-color: #f8f8f8;
}

.logIn {
    height: 33vh;
    background-color: #f8f8f8;
}

#formHeader {
    background-color: white;
}

.firstRow {
    background-color: white;
}

.secondRow {
    background-color: white;
}

.thirdRow {
    background-color: white;
}

