@font-face{
    font-family: "Norse-Bold";
    src: url();
}

* {
    margin: 0;
   
}

body {
    display: flex;
    flex-direction: row;
   
    
}

#picture {
    width: 33vw;
    height: 100vh;
    top: 0;
    
}

#banner {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.55;
    position: absolute;
    top: 160px;
    height: 15vh;
    width: 33vw;
}

#logo {
 padding: 4px;

}

span {
    color: white;
}

.text {
    height: 33vh;
    background-color: #f8f8f8;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 550;
    padding: 35px;
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 24px;
}

#formHeader {
    font-family: sans-serif;
    margin: 10px 30px;
    background-color: #f8f8f8;
}



.form {
    height: 33vh;
    background-color: white;
}

.logIn {
    height: 33vh;
    background-color: #f8f8f8;
    padding-top: 3vh;
    
}

#formHeader {
    background-color: white;
}

.firstRow {
    background-color: white;
    display: flex;
    
}

.inputDiv {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.secondRow {
    background-color: white;
    display: flex;
}

.thirdRow {
    background-color: white;
    display: flex;
}




.secondPara {
    margin-bottom: 25px;
}

.thirdPara {
    margin-bottom: 25px;
}

#theButton {
    color: white;
    background-color: #596D48;
    height: 30px;
    width: 150px;
    border-radius: 3px;
    border-style: none;
    margin-top: 20px;
    margin-left: 30px;
    
}

input {
    margin: 3px;
}