@font-face{
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    text-decoration: none;
}

html {
    background-color: #f8f8f8;

    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row; 
}

#picture {
    width: 33vw;
    height: 100vh;
    top: 0;
    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 18vh;
    height: 15vh;
    width: 33vw;
}

#logo {
 padding: 4px;
 max-height: 14vh;
}

span {
    font-family: "Norse-Bold";
    color: white;
    font-size: 10vh;
    padding-top: 2vh;
}


.text {
    max-height: 33vh;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 550;
    padding: 11vh 6vh 1vh 6vh;
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 24px;
}

#formHeader {
    font-family: sans-serif;
    margin: 2vh 6vh 2vh 6vh;
    padding-top: 3vh;
  
}



.formContainer {
    min-height: 33vh;
}

.logIn {
    min-height: 33vh;
  
    padding-top: 3vh;
    
}

.firstRow,
.secondRow,
.thirdRow {
    display: flex;
    margin-left: 6vh;
    background-color: white;
}

.thirdRow {
    padding-bottom: 3vh;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin-right: 40px;
}


.secondPara {
    margin-bottom: 5vh;
}

.thirdPara {
    margin-bottom: 2vh;
}

#theButton {
    color: white;
    background-color: #596D48;
    font-weight: 700;
    height: 35px;
    width: 150px;
    border-radius: 3px;
    border-style: none;
    margin-top: 4vh;
    margin-left: 6vh;
    box-shadow: 1px 1px 5px darkgray;
    
}

input {
    margin: 3px 3px 2vh 3px;
    border-radius: 7px;
    border: solid #e5e7eb;
    font-family: sans-serif;
    height: 27px;
}
label {
    font-family: sans-serif;
}

input:focus {
    border-color: lightblue;
    box-shadow: 1px 1px 5px darkgray;

}

input:user-invalid {
    border-color: red;
}

.mainForm {
    background-color: white;
    box-shadow: 2px 10px 12px -11px darkgray;

}

.account {
    margin-left: 6vh;
    font-family: sans-serif;
    font-size: 14px;
}

p a {
    color: #596D48;
    font-weight: 600;
}
